<div class="card card-block">

        <div class="row">
            <div class="col-md-12">
                <label>
                    <span class="text-muted">AD логин</span><span class="text-danger">*</span>
                </label>
                <div>
                    <input [(ngModel)]="adLogin" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-primary" (click)="save()">
                    {{'Сохранить'}}
                </button>
            </div>
        </div>

</div>
