<div class="card card-block senat-agenda-item-card"
     [class.senat-active-issue]="agendaItem.status === agendaItemStatus.OnVoting"
     [style.border]="isTargetDragDrop? '1px dashed green' : ''"
     draggable="true"
     (click)="navigateToAgendaItem(agendaItem)">
    <div class="senat-agenda-item-main align-items-center">
        <div class="senat-agenda-item-order">
            <h6 class="card senat-circle rounded-circle m-0">{{agendaItem.order}}</h6>
        </div>
        <div class="senat-title-status text-truncate" [title]="agendaItem.title">
            <div class="status-line">
                <senat-status-label [color]="calculateColorLabelStatus()">
                    {{'meeting.agenda.status.' + agendaItem.status | translate}}
                </senat-status-label>
                <senat-status-label *ngIf="getDecisionStatus() === 'accepted'" [color]="statusLabelColor.Green">
                    Решение принято
                </senat-status-label>
                <senat-status-label *ngIf="getDecisionStatus() === 'declined'" [color]="statusLabelColor.Red">
                    Решение не принято
                </senat-status-label>
                <div *ngIf="!!(agendaItem.approval)">
                    <div [ngSwitch]="!!(agendaItem.approval.approved)">
                        <div *ngIf="agendaItem.approval.approvingPerson as approvalPerson">
                                <span *ngSwitchCase="true" class="badge badge-pill badge-success align-middle">                
                                    {{'Утвержден'}} {{approvalPerson.lastName}} {{approvalPerson.firstName | truncate: 1: '.'}}{{approvalPerson.middleName | truncate: 1 : '.'}} 
                                    {{agendaItem.approval.approvedAt | date: 'dd.MM.yyyy'}} {{agendaItem.approval.approvedAt | date: 'shortTime'}}
                                    
                                </span>
                        </div>
                        <div *ngSwitchCase="false">
                                <span *ngSwitchCase="false"
                                      class="badge badge-pill badge-warning align-middle">{{'На утверждении'}}</span>
                        </div>
                    </div>
                </div>

            </div>
            <span>{{agendaItem.title}}</span>
        </div>
        <ng-container  *ngIf="getDecisionStatus() === 'accepted'">
            <senat-button class="senat-decision-button" [type]="buttonType.GreenSeaWave" [isReactangle]="true" 
                          (click)="$event.stopPropagation();downloadDecision()">Решение</senat-button>
            <!--<senat-voting-statistics-label></senat-voting-statistics-label>-->
        </ng-container>
        <div *ngIf="changeStateAllowed && getActionsWithoutToRewoved().length > 0" class="senat-agenda-item-workflow-buttons">
            <senat-agenda-item-workflow-button class="mx-2"
                                               *ngFor="let action of getActionsWithoutToRewoved()"
                                               (click)="move(action, $event)"
                                               [workflowAction]="action"
                                               [isGreenBackground]="agendaItem.status === agendaItemStatus.OnVoting">
            </senat-agenda-item-workflow-button>
        </div>
    </div>
    <senat-close-button-medium class="senat-remove-agenda-item-button" 
                               *ngIf="isAllowedRemove()"
                               (click)="clickRemoveButton($event)">
    </senat-close-button-medium>
    <senat-agenda-item-workflow-button *ngIf="isSupportToRemoved()"
                                       class="senat-to-remove-status-agenda-item-button"
                                       (click)="move(agendaItemWorkflowAction.ToRemoved, $event)"
                                       [workflowAction]="agendaItemWorkflowAction.ToRemoved">
    </senat-agenda-item-workflow-button>
</div>
