<div>
    <a routerLink="/ipad">{{'Приложение АС Сенат для iPad'}}</a>
</div>
<div>
    <div class="row">
        <div class="col-md-4">
            <!--<senat-status-indicator [type]="'meeting'"></senat-status-indicator>-->
        </div>
        <div class="col-md-4">
            <!--<senat-status-indicator [type]="'instruction'"></senat-status-indicator>-->
        </div>
        <div class="col-md-4">
            <!--<senat-status-indicator [type]="'action'"></senat-status-indicator>-->
        </div>
    </div>

    <!--<senat-meetings-list [cut]="4"></senat-meetings-list>-->

    <!--<senat-instructions-list></senat-instructions-list>-->
    <!--<senat-issues-list [cut]="4"></senat-issues-list>-->
</div>
