.top-menu .navbar {
    background-color: #50c171;
}

.admin-menu-band {
    color: #ffffff;
}

.container {
    width: 20%;
    margin: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.125);
    height: 100vh;
    background-color: #d5d5d5;
}

.orgsUnit {
    margin-top: 5%;
    font-family: "Roboto", "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.orgUnit {
     padding-left: 6%;
 }

.orgUnitWithChild {
    padding-left: 0;
}

.orgsChildUnit {
    display: none;
}

.orgsChildUnit.openList {
    display: block;
}

.fa-arrow-right {
    color: #50c171;
}

.rotate90deg {
    color: #2798ff;
    transform: rotate(90deg);
    transition: all 0.5s;
}

.unRotate90deg {
    color: #50c171;
    transform: rotate(0deg);
    transition: all 0.5s;
}

a {
    text-decoration: none;
    color: #3B3B3B;
}

a.disabled {
    pointer-events: none;
    cursor: default;
}

span {
    margin-right: 5%;
}
