<div class="top-menu-senat">
    <div class="top-menu-senat-element top-menu-senat-logo">
        <a class="top-menu-senat-element-logo link" routerLink="/">
            <img src="assets/img/public/top-menu/logo.png"
                 srcset="assets/img/public/top-menu/logo@2x.png 2x,
                    assets/img/public/top-menu/logo@3x.png 3x"
                 class="logo">
        </a>
    </div>
    <div class="top-menu-senat-element top-menu-senat-dashboard">
        <a class="top-menu-senat-element-tag link" routerLink="/dashboard" routerLinkActive="active">Дашборд</a>
    </div>
    <div class="top-menu-senat-element top-menu-senat-meetings">
        <a class="top-menu-senat-element-tag link" routerLink="/meetings" routerLinkActive="active">Заседания</a>
    </div>
    <div class="top-menu-senat-element top-menu-senat-instructions">
        <a class="top-menu-senat-element-tag link" routerLink="/issues" routerLinkActive="active">Поручения</a>
    </div>
    <div class="top-menu-senat-element top-menu-senat-search">
        <a class="top-menu-senat-element-tag link" routerLink="/search" routerLinkActive="active">Поиск</a>
    </div>
    <div class="top-menu-senat-element top-menu-senat-notifications">
        <a class="top-menu-senat-element-tag link" routerLink="/notifications" routerLinkActive="active">Уведомления</a>
    </div>
    <div class="top-menu-senat-element top-menu-senat-user">
        <div class="media">
            <div class="media-body">
                <div class="profile">ПРОФИЛЬ</div>
                <div class="fullname">Станкевич А. М. </div>
            </div>
            <div class="dropdown">
                <a class="link-icon d-flex dropdown-toggle no-chevron" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">
                    <senat-person-avatar [person]="currentUser$ | async" size="32"></senat-person-avatar>
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a *ngIf="(showAdmin$ | async)" class="dropdown-item" routerLink="/admin/person/newad">Администрирование</a>
                    <a class="dropdown-item" (click)="logout()">Выход</a>
                </div>
            </div>
        </div>
    </div>
</div>
