.senat-text-input {
    font: 14px/18px 'Open Sans', sans-serif;
    border: 1px solid rgba(110, 115, 122, 0.5);
    border-radius: 4px;
    transition: border 0.3s;
    min-height: 40px;
    padding: 10px;
    width: 100%;
    color: #474747;
}

.senat-text-input:focus {
    border-color: #6e737a;
}

.senat-text-input-black {
    border: 1px solid rgba(110, 115, 122, 0.5);
}

.senat-text-input-black:focus {
    border-color: #6e737a;
}

.senat-text-input-green-light {
    border: 1px solid rgba(0, 212, 115, 0.5);
}

.senat-text-input-green-light:focus {
    border-color: #00D473;
}
