.senat-approve-popup-container {
    position: relative;
}
.senat-approve-popup {
    position: absolute;
    margin-left: -200px;
    width: 300px;
    z-index: 100;
}

.senat-version-voting-info {
    display: flex;
    flex-wrap: wrap;
}

.senat-version-voting-info .senat-version-info {
    flex-grow: 1;
}

.senat-project-info {
    display: flex;
    flex-wrap: wrap;
}

.senat-project-info .senat-material-version {
    flex-grow: 1;
}
