<div class="mt-4">
    <h6 class="text-muted">{{'Пояснительная часть'}}</h6>
    <div class="card card-block">
        <p *ngIf="!!(issue$ | async)?.description" class="pre-wrap m-0">{{(issue$ | async).description | multilingual}}</p>
        <p *ngIf="!(issue$ | async)?.description" class="text-center m-0">{{'Пояснительная часть отсутствует'}}</p>
    </div>
</div>

<div class="mt-4">
    <h6 class="text-muted">{{'Презентация' | uppercase}}</h6>
    <div *ngFor="let presentation of presentations$ | async; let last = last;" class="card card-block"
         [ngClass]="last ? '' : 'mb-3'">
        <senat-material-version [version]="presentation.currentVersion"></senat-material-version>
    </div>
    <div *ngIf="(presentations$ | async).length === 0" class="card card-block text-center">
        <span class="text-muted">{{'презентации отсутствуют'}}</span>
    </div>
</div>

<div class="mt-4">
    <h6 class="text-muted">{{'Проекты решений' | uppercase}}</h6>
    <div *ngFor="let project of decisionProjects$ | async; let last = last;" class="card card-block"
         [ngClass]="last ? '' : 'mb-3'">
        <senat-material-version [version]="project.currentVersion"></senat-material-version>
    </div>
    <div *ngIf="(decisionProjects$ | async).length === 0" class="card card-block text-center">
        <span class="text-muted">{{'проекты решений отсутствуют'}}</span>
    </div>
</div>

<div class="mt-4">
    <h6 class="text-muted">{{'Все материалы' | uppercase}}</h6>
    <div class="card card-block">
        <senat-material-browser [folders]="folders$ | async"
                                [materials]="materials$ | async"
                                [versions]="versions$ | async"
                                [disabled]="!(canEdit$ | async)"
                                [materialsUploading] = "materialsUploading$ | async"
                                [versionsUploading]="versionsUploading$ | async"
                                (materialsAdded)="materialsAdded($event)"
                                (versionsAdded)="versionsAdded($event)"
                                (materialDeleted)="materialDeleted($event)"
                                (materialTypeChanged)="materialTypeChanged($event)"
                                (materialVersionExpanded)="materialVersionExpanded($event)"
                                (locationChanged)="locationChanged($event)"></senat-material-browser>
    </div>
</div>
